<h1>Attractions</h1>

<ul>
  <% @attractions.each do |attraction| %>
  <li><%= link_to "Go on #{attraction.name}", attraction_path(attraction) if !@user.admin %></li>
  <br>
  <%= link_to "Show #{attraction.name}", attraction_path(attraction) if @user.admin  %>
  <br>
  <% end %>
</ul>
<br><br>

<% if @user.admin %>
  <h3><%= link_to "New Attraction", new_attraction_path %></h3>
<% end %>
